* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    color: #7f8c8d;
    font-size: 13px;
}

h1,
h2,
h4,
h5,
h6,
label {
    color: #333;
}

h2{
    font-size: 1.2em;
}

h3{
    color:#fff;font-size:0.95em;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

.l-box {
    background-color: #fff;
}

.l-box-lrg {
    padding: 2em;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.is-center {
    text-align: center;
}

.headtitle{
    display: none;
}

.pure-form label {
    margin: 1em 0 0;
    font-weight: bold;
    font-size: 100%;
}

.pure-form input[type] {
    border: 2px solid #ddd;
    box-shadow: none;
    font-size: 100%;
    width: 100%;
    margin-bottom: 1em;
}

.pure-button {
    background:none repeat scroll 0 0 #fff;
    border: 1px solid #ddd;
    color: #666;
    text-decoration: none;
    padding: 0.8em 2em;
    border-radius: 5px;
}

a.pure-button-primary {
    background: none repeat scroll 0 0 #fff;
    color: #666;
    border-radius: 5px;
    font-size: 120%;
    width:88%;margin-top: 10px;margin-bottom: 10px;
}

.home-menu {
    padding: 0.5em;
    text-align: center;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
}
.home-menu.pure-menu-open {
    background: #FFF;
}
.pure-menu.pure-menu-open.pure-menu-fixed {
    /* Fixed menus normally have a border at the bottom. */
    border-bottom: none;
    /* I need a higher z-index here because of the scroll-over effect. */
    z-index: 4;
}

.home-menu .pure-menu-heading {
    color: white;
    font-weight: 400;
    font-size: 120%;
}

.home-menu .pure-menu-selected a {
    color: #333;
}

.home-menu a {
    /* color: #6FBEF3; */
}
.home-menu li a:hover,
.home-menu li a:focus {
    background: none;
    border: none;
    color: #B20000;
}

.splash-container {
    background: url("../../img/common/bg-banner.png") repeat scroll 0 0 transparent;    z-index: 1;
    overflow: hidden;
    /* The following styles are required for the "scroll-over" effect */
    width: 100%;
    height: 54%;
    max-height:399px;
    top: 0;
    left: 0;
}

.splash {
    /* absolute center .splash within .splash-container */
    width: 80%;
    height: 450px;
    margin: auto;
    position: relative;
    top: 0px; left: 0; bottom: 0; right: 0;
    text-align: center;
    text-transform: uppercase;
}

.splash-head {
    font-size: 20px;
    font-weight: bold;
    color: white;
    border: 3px solid white;
    padding: 1em 1.6em;
    font-weight: 100;
    border-radius: 5px;
    line-height: 1em;
}

.splash-subhead {
    color: #FFF;
    letter-spacing: 0.05em;
    opacity: 0.8;
}

.content-wrapper {
    position: absolute;
    width: 100%;
    min-height: 12%;
    z-index: 2;
    background: #F7F7F7;

}

.content-head {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 1em 0 1em;
}

.content-head-ribbon {
    color: white;
}

.content-subhead {
    color: #666;
}
.content-subhead i {
    margin-right: 7px;
}

.ribbon {
    background: #ed4440;
    color: #aaa;
}

.footer {
    background: #111;
    height: 36px;
    padding: 6px;
    color: #FFF;
}

.apsite-info{float: left;width:100%;display:none;}
.apsite-img{float: left;width:100%;}
.apsite-info2{float: left;width:100%;}
.dashed-hr {
    border: 1px dashed #E5E5E5 !important;
}
.nearby-card {
    width: 45% !important;
}

.content {
        margin-left: auto;
        margin-right: auto;
        max-width: 960px;
        padding-top: 54px;
}

.portal-banner{
   border: 0px solid #FFFFFF;border-radius: 0px;width:100%;
}

.ad-banner{
 border: 3px solid #FFFFFF;border-radius: 5px;width:100%;max-width:320px;
}

.rule-info {
    max-height: 363px;
    height:68%;
    display:none;
    top:58px;
    width: 100%;
    max-width: 500px;
    border-radius: 0 0 10px 10px;
    background-color: #f7f7f7;
    border: 1px solid #B0AEAE;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(0, 0, 0, 0.1);
    position: fixed;
    overflow-y: auto;
    z-index: 20;
}
.agree-rule{color: #FFFFFF;}

#close1 {
    text-align: center;
    width: 90%;
    z-index:30;
    position: absolute;
}


@media (min-width: 48em) {

    body {
        font-size: 16px;
        line-height: 1.7em;
    }
    h2{
        font-size: 1.5em;
    }

    h3{
        font-size:1.2em;
    }
    .content {
        padding: 0.5em;
        margin-left: auto;
        margin-right: auto;
        max-width: 960px;
        padding-top: 66px;
    }
    .portal-banner{
    border: 3px solid #FFFFFF;border-radius: 5px;width:100%;max-width:960px;margin-top:0.5em; 
    }
    .home-menu {
        text-align: left;
    }
        .home-menu ul {
            float: right;
        }

    .splash {
        width: 35%;
        margin-left: auto;
        margin-right: auto;
        height: 480px;
        top: 0px;
    }

    .splash-head {
        font-size: 250%;
        padding: 2em 1em;
    }

    .l-box-lrg {
        border: none;
    }
    .apsite-info{float: left;width:50%;display:inline;}
    .apsite-img{float: left;width:50%;}
    .apsite-info2{float: left;width:25%;}
    .nearby-card {
    width: 23% !important;
    }
    .headtitle{
    display:inline;
    }
}

.scrollup {
    background: url("../../img/common/icon_top.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    bottom: 1em;
    display: none;
    height: 40px;
    opacity: 0.3;
    position: fixed;
    right: 1em;
    text-indent: -9999px;
    width: 40px;
    z-index: 99;
}

.scrolldown {
    background: url("../../img/common/icon_down.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    bottom: 1em;
    display:inline;
    height: 40px;
    opacity: 0.9;
    position: fixed;
    right: 1em;
    text-indent: -9999px;
    width: 300px;
    z-index: 99;
}

@media (min-width: 78em) {
    .splash-head {
        font-size: 300%;
    }
}
